<div class="flex flex-wrap justify-between gap-6">
  @if (userService.users()) { @for (user of userService.users(); track $index) {
  <div class="group relative block bg-black">
    <img
      alt=""
      [src]="user.picture.large"
      class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
    />

    <div class="relative p-4 sm:p-6 lg:p-8">
      <p class="text-sm font-medium tracking-widest text-pink-500 uppercase">
        {{ user.email }}
      </p>

      <p class="text-xl font-bold text-white sm:text-2xl">
        {{ user.name.title }} {{ user.name.first }} {{ user.name.last }}
      </p>

      <div class="mt-32 sm:mt-48 lg:mt-64">
        <div
          class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
        >
          <p class="text-sm text-white">
            
          </p>
        </div>
      </div>
    </div>
  </div>
  } }

  <button
    class="inline-block rounded-full border border-indigo-600 p-3 text-indigo-600 hover:bg-indigo-600 hover:text-white focus:ring-3 focus:outline-hidden cursor-pointer"
    (click)="addUser()"
  >
    <span class="sr-only"> Add </span>

    <svg
      class="size-5 rtl:rotate-180"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M14 5l7 7m0 0l-7 7m7-7H3"
      />
    </svg>
  </button>
</div>
